body {
  font-family: Helvetica;
  width: 100%;
}

header {
  background-color: #baeaa5;
  width: 100%;
  height: 150px;
  letter-spacing: 3px;
  position: absolute;
  position: fixed;
}

.noteit { 
  margin-top: 100px;
  padding-left: 50px;
}

h2 {
  display: inline;
  position: relative;
  font-size: 90px;
  width: 50%;
  margin-left: 10px;
}

.signup {
  text-align: center;
  margin-top: 100px;
}

#firstname,
#username {
  margin: auto;
  display:  block;
  margin-bottom: 20px;
  font-size: 18px;
  width: 25%;
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 2px solid #baeaa5;
}

#enter {
  border: none;
  outline: none;
  border: 2px solid black;
  background-color: white;
  width: 15%;
  height: 30px;
  line-height: 25px;
}


#welcome {
  display: inline;
  position: relative;
  font-size: 92px;
  width: 50%;
}

.search {
  position: fixed;
  margin-top: 75px;
  margin-left: 150px;
  width: 15%;
  height: 25px;
  overflow: none;
  border: 1px solid black;
  outline: none;
}

.where {
  text-align: left;
  margin-top: 200px;
  margin-left: 50px;
  position: fixed;
}

#street,
#city {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  overflow: auto;
}

#month {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  margin-bottom: 100px;
}

#gothere {
  border: none;
  outline: none;
  border: 2px solid black;
  background-color: white;
  width: 40%;
  height: 30px;
  float: right; 
  margin-right: 10px;
}

.container {
  float: right;
  margin-right: 50px;
  padding-top: 100px;
  overflow: scroll;
}

.content {
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

#date,
#dest {
  text-align: right;
  display: block;
}

#delete {
  border: none;
  outline: none;
  border: 2px solid black;
  background-color: white;
  width: 15%;
  height: 30px;
  margin-bottom: 20px;
  line-height: 25px
}
