*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  width: 100%;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
  color: navy;
}

header {
  background-color: #CCFFBB;
  width: 100%;
  height: 125px;
  letter-spacing: 3px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.spacer {
  height: 100px;
  margin-bottom: 30px;
  overflow: hidden;
}

.noteit {
  position: absolute;
  bottom: 10px;
  left: 25px;
}

.sign {
  margin-left: 50px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 24px;
  width: 50%;
}

.firstname,
.username,
.password {
  border: none;
  outline: none;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 25px;
  font-size: 18px;
  border-bottom: 2px solid #baeaa5;
}

.enter {
  border: none;
  outline: none;
  margin-top: 10px;
  margin-left: 25px;
}

.placesToGo {
  margin-left: 50px;
}

#welcome {
  font-family: 'Arial';
  font-weight: 200;
  font-size: 28px;
}

h3 {
  font-family: 'Alegreya Sans SC';
}

#street,
#city {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  margin-top: 20px;
}

#when {
  margin-top: 25px;
}

#month {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  margin-top: 20px;
}

#gothere {
  border: none;
  outline: none;
  color: black;
  background: rgba(0, 0, 0, 0);
  margin-top: 10px;
}

#gothere:hover {
  background-color: #C0C0C0;
}

.chevron {
  background: rgba(0, 0, 0, 0);
  margin-bottom: 40px;
}

.img-responsive {
  width: 100%;
  max-width: 100%;
}

#delete,
#save,
#add {
  font-family: 'Alegreya Sans SC';
  font-weight: 400;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  margin-top: 10px;
}

#dest {
  font-family: 'Arial';
  font-weight: 800;
  font-size: 20px;
  text-align: right;
  margin-bottom: 100px;
}

/*#addMonth {
  float: right;
}*/

