<div>
  <form class="form-horizontal col-xs-offset-4 col-xs-4">
    <div class="form-group">
      <input type="text" class="form-control firstname" placeholder="first name" ng-model="first" autofocus/>
      <input type="text" class="form-control username" placeholder="username" ng-model="newuser" />
      <input type="password" class="form-control password" placeholder="password" ng-model="pass" />
      <button class="btn btn-default btn-block enter" ng-click="signup()"> Submit </button>
    </div>
  </form>
  <div class="col-xs-offset-4 col-xs-4">
    <span class="text-left">Already have an account? <a href="#/signin">Sign in</a></span>
  </div>
</div>